@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.action {
  cursor: pointer
}

li {
  line-height: 1.5em;
  list-style: none;
  &:hover{
    background-color: lighten($dark, 10)
  }
}

.locked-scroll {
  height: 90vh;
  overflow-y: scroll;
}

.locked-scroll::-webkit-scrollbar {
  width: .2em;
}
 
.locked-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.locked-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.spell-card {
  max-height: 70vh;
  overflow-y: auto;
}